<%= render "shared/header"%>

  <div class="collection-contents">
  <% @collections.each do |collection| %>
    <div class="collection-contents-box">
    <%= link_to collection_path(collection.id) do %>
      <% collection.images.each do |image| %>
        <%= image_tag image.variant(resize: '200x200'), class: "collection-index-image" %>
      <% end %>
    <% end %>
    </div>
  <% end %>
  </div>

  <% if admin_signed_in? %>
    <%= link_to '新しいシーズンの画像を追加する', new_collection_path, class: "collection-destroy-btn" %>
  <% end %>


<%= render "shared/footer"%>

