<%= render "shared/header"%>

  <div class="collection-contents">
  <% @collections.each do |collection| %>
    <div class="collection-contents-box">
    <%= link_to collection_path(collection.id) do %>
      <%= image_tag collection.images[0].variant(resize: '700x700'), class: "collection-index-image" %>
    <% end %>
      <div class="season_name"><% collection.season.name%></div>
    </div>
  <% end %>
  </div>

  <% if admin_signed_in? %>
    <%= link_to '新しいシーズンの画像を追加する', new_collection_path, class: "collection-destroy-btn" %>
  <% end %>



<%= render "shared/footer"%>

