<%= render "shared/header"%>
<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">新しいシーズンの情報を入力</h2>
    <%= form_with model: @collection, local: true do |f| %>
    <%# render 'shared/error_messages', model: f.object %>

    <%# コレクション画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        ルックを追加
      </div>
      <div class="click-upload">
        <%= f.file_field :images, multiple: true, id:"collection-image"  %>
      </div>
    </div>
    <%# /コレクション画像 %>

    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        シーズン名
      </div>
      <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    </div>

    
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "新しいシーズンを追加" ,class:"sell-btn" %>
      <%=link_to 'もどる', collections_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  <% end %>
</div>