<h1>Admin::Items#index</h1>
<%= link_to('/admin/items/new', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
<% end %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <ul class='item-lists'>

      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to admin_item_path(item.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品名
            <%= item.name %>
          </h3>
          <div class='item-price'>
            価格
            <span><%= item.price %>円<br></span>
            <div class='star-btn'>
            </div>
          </div>
            <% item.images.each do |image| %>
              <%= image_tag image %> <br>
            <% end %>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>