<header class='top-page-header'>

  <div class='logo'>
    <%= link_to 'NUAX', root_path, class:"logo-link" %>
    <%#= link_to image_tag("nuax-logo.png", class:"logo-link-img"), root_path %>
    <ul class='lists-left'>
      <li><%= link_to 'SHOP', root_path, class: "shop-list" %></li>
      <li><%= link_to 'COLLECTION', collections_path, class: "collection-list" %></li>
    </ul>

  </div>

  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <li>
        <%#= link_to 'CART', public_item_my_cart_path(current_cart), class: "cart" %>
        <%= link_to image_tag("cart_icon.png", class:"logo-link-img"), public_item_my_cart_path(current_cart), class: "cart" %>
        </li>
      <% elsif admin_signed_in? %>
        <li><%= link_to 'ログアウト(admin)', destroy_admin_session_path, method: :delete, class: "logout" %></li> 
        <li><%= link_to '注文履歴', admin_orders_path, class: "cart" %></li>
        <li><%= link_to '出品する', '/admin/items/new', class: "cart" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li>
        <%#= link_to 'CART', public_item_my_cart_path(current_cart), class: "cart" %>
        <%= link_to image_tag("cart_icon.png", class:"logo-link-img"), public_item_my_cart_path(current_cart), class: "cart" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>